/bin/
# ignore object and class files
*.o
*.class

# ignore libraries
*.lib
*.a

# ignore shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# ignore executables
*.exe
*.out
*.app

# ignore metada files
.metadata
/bin/
/bin/
